body {
    font-family: Arial;
    background-color: #f4f4f4;
}

.quiz-container {
    width: 400px;
    background: white;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
}
